

<ion-content [fullscreen]="false">
  
  <ion-button mode="ios" [href]="['/store']" expand="block" shape="round" fill="outline"> Store </ion-button>
  
  <ion-card style="background-color: #f2f2f2" *ngIf="product">
    <ion-card-header>
      <ion-item lines="none">
        <ion-label style="font-weight: bold;">{{product.title}}</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content >
      <ion-item lines="none">
        <ion-label>
          <ion-img [src]="product.image" style="width: 25%;"></ion-img>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <h2 style="font-weight: bold;">{{product.title}}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <strong>Categoría: </strong> <h3>{{product.category}}</h3>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <strong>Precio: </strong><h4>{{product.price}} €</h4>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <strong>Total: </strong><h4>{{product.rating.count}}</h4>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <strong>Valoración: </strong><h4>{{product.rating.rate}}</h4>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <strong>Descripción: </strong><br><ion-text>{{product.description}}</ion-text>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
